# Ignorar archivos y carpetas generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
*.egg

# Ignorar archivos de configuración de VS Code
.vscode/
*.code-workspace

# Ignorar archivos de configuración de entorno virtual (si se usa uno)
env/
venv/
virtualenv/
ENV/

# Ignorar archivo con información sensible (p.ej. claves secretas)
secret.txt

# Ignorar archivos generados por IDEs (ej. PyCharm)
.idea/
*.iml
*.iws

# Ignorar archivos de caché
*.cache

# Ignorar db
*.sqlite3
